body{
    margin:0px;
    padding: 0px;
    font-family: Bahnschrift;
    background-color: #E9D4BF;
}
a:-webkit-any-link {
    color: #2c2300;
    cursor: pointer;
    text-decoration: underline;
}
.MenuTopo{
    background-color: #EAD8AC;
}
.logo{
    padding-top: 30px;
    width: 170px;
    height: 100px;
    gap: 30px;
}
.menus{
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.bannerinicial{
    width: 1510px;
    height: 400px;
}
.faixa{
    background-color: #720300;
}
.texto{
    color: #EAD8AC;
    text-align: center;
    padding: 5px;
}
.perfumes{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    font-size: 18px;
}
.perfume1{
    flex-direction: column;
}
.perfume1 p{
    text-align: center;
}
.catalogo:hover {
    transform: scale(1.1);
    opacity: 100;
}
.catalogo{
    border-color: #E8C8A7;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    width: 250px;
    height: 250px;
    font-size: 25px;
    opacity: 0.7;
}
.perfume p{
    color: #000000;
    text-align: revert;
}
.rodape{
    display: flex;
}
.imgrodape{
    width: 100%;
    height:300px;
}
.preco{
    font-size: larger;
}
.info {
    justify-content: flex-end;
}
.btn{
    justify-content: center;
    border-radius: 10px;
    background-color: #A77B62;
    color: white;
    border-color: transparent;
    width: 300px;
    height: 30px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background: linear-gradient(to left, #dcc2a9,#A77B62);
}
.info {
    padding-top: 70px;
}
.containerinicio{
    display: flex;
    justify-content: space-between;
}
.rodape{
    display: flex;
    justify-content: space-evenly;
    background-color: #E8C8A7;
}
.local{
    width: 50px;
    height: 45px;
    padding-top: 50px;
}
.textinho{
    padding-top: 45px;
}
.whatsapp{
    width: 50px;
    height: 50px;
    padding-top: 50px;
    justify-content: flex-end;
}
.insta{
    width: 40px;
    height: 40px;
    padding-top: 50px;
    justify-content: flex-end;
}
.logorod{
    padding-top: 30px;
    width: 170px;
    height: 100px;
}
.preco{
    font-size: larger;
}
.info {
    padding-top: 70px;
}
.containerinicio{
    display: flex;
    justify-content: space-between;
}
.bannerquemexe{
    display: flex;
    width: 100%;
    animation: slide 20s infinite;
}
@keyframes slide {
    0% {transform: translate(0);}
    50% {transform: translate(-750px);}
    50% {transform: translate(-1500px);}
}
.bannerquemexe img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.botao{
    display: flex;
    justify-content: center;
}
